:root {
    --primary-color: #cca1f7; 
    --secondary-color: #a75df2;
    --background-color: #f0f0f0;
    --text-color: #555;
    --card-background: #ffffff;
    --shadow-color: rgba(135, 15, 165, 0.445);
}

.teamPage {
    padding: 3vh 3vw; 
    text-align: center;
}

.teamPage.active {
    display: block;
    margin-top: 0; 
}


.teamContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
    margin: auto;
}

.memberCard {
    flex: 1 1 45%;
    max-width: 45%;
    min-width: 280px; 
    background-color: var(--card-background);
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    transition: transform 0.3s ease;
    margin-top: 1%;
    font-family: "IBM Plex Mono", monospace;
}

.memberCard:hover {
    box-shadow: 0 4px 10px var(--shadow-color);
}

.memberImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem; 
}

p {
    font-size: 1rem;
    margin: 0.5rem 0;
}


@media (max-width: 768px) {
    .teamContainer {
        flex-direction: column;
    }

    .memberCard {
        flex: 1 1 100%; 
        max-width: 70%; 
        margin: auto; 
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .teamContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 2rem; 
    }

    .memberCard {
        flex: 1 1 45%; 
        max-width: 45%; 
    }
}


@media (min-width: 1025px) {
    .teamContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 2rem; 
    }

    .memberCard {
        flex: 1 1 18%; 
        max-width: 18%; 
    }
}

.backButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
  }
  
  .backButton {
    background-color: #7029ab; 
    color: white; 
    padding: 0.75rem 1.5rem; 
    border-radius: 0.5rem; 
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #5a2387; 
    color: white;
    box-shadow: 0 4px 10px var(--shadow-color);
  }

  .negrita-paralosroles {
    font-weight: bold;
    color: black;
  }

  .negrita-paralosrole {
    font-weight: bold;
    color: #a75df2;
  }

  .diseño-deestetitulo {
    font-family: 'Special Elite', cursive;
    color: #7029ab;
    font-weight: bold;
  }

  .color-letra{
    color: black;
  }

  h3 {
    font-family: 'Special Elite', cursive;
  }