.container {
    position: relative; 
    width: 100%; 
    height: 30vh; 
}

.banner-image-only-home {
    width: 100vw; 
    height: 30vh;
    object-fit: cover;
}

.bannerHome-text {
    position: absolute;
    top: 65%;
    left: 5%; 
    transform: translateY(-50%); 
    color: black;
    text-align: left;
    font-family: 'Special Elite', cursive;
    z-index: 2;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #f8f8f8);
}

h2 {
    margin: 0;
    font-size: 7vw;
}

.slogan {
    margin: 0;
    font-size: 3vw; 
    margin-top: -2vw;
    color: black;
}


/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
    .bannerHome-text {
        margin-top: 2.5vh; 
        left: 5%; 
        font-size: 6vw;
    }

    h2 {
        font-size: 10vw;
        margin-top: 0; 
    }

    .slogan {
        font-size: 5vw;
        margin-top: -2vw; 
    }
}

/*Pantallas tablet*/
@media (max-width: 768px) {
    .bannerHome-text {
        top: 40%; 
        left: 10%; 
        font-size: 5vw; 
    }

    h2 {
        font-size: 8vw; 
        margin-top: 0;    
    }

    .slogan {
        font-size: 4vw; 
        margin-top: -1vw; 
    }
}