.container {
    position: relative; 
    width: 100%; 
    height: 30vh; 
}

.banner-image-only-home {
    width: 100vw; 
    height: 30vh;
    object-fit: cover;
    transition: filter 0.3s ease, opacity 0.3s ease; 
}

/* Superposición sobre el banner */
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #f8f8f8); 
    transition: background 0.3s ease;
}

.bannerHome-text {
    position: absolute;
    top: 50%; 
    left: 5%; 
    transform: translateY(-50%); 
    color: black;
    text-align: left;
    font-family: 'Special Elite', cursive;
    z-index: 2;
    transition: color 0.3s ease;
}

h2 {
    margin: 0;
    font-size: 7vw;
}

.slogan {
    margin: 0;
    font-size: 3vw; 
    margin-top: -2vw;
    color: black;
    transition: color 0.3s ease; /* Transición para el color */
}

/* Modo oscuro */
body.dark-mode .banner-image-only-home {
    filter: brightness(0.6); /* Oscurece la imagen del banner */
}

body.dark-mode .banner-overlay {
    background: rgba(0, 0, 0, 0.5); /* Superposición oscura en modo oscuro */
}

body.dark-mode .bannerHome-text {
    color: white; /* Texto blanco en modo oscuro */
}

body.dark-mode .slogan {
    color: white; /* Slogan en blanco en modo oscuro */
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
    .bannerHome-text {
        top: 50%; 
        left: 5%; 
        font-size: 6vw; 
    }

    h2 {
        font-size: 10vw; 
        margin-top: 0; 
    }

    .slogan {
        font-size: 5vw; 
        margin-top: -1vw; 
    }
}

/* Pantallas tablet */
@media (max-width: 530px) {
    .bannerHome-text {
        top: 50%; 
        left: 10%; 
        font-size: 5vw; 
    }

    h2 {
        font-size: 8vw; 
        margin-top: 0;    
    }

    .slogan {
        font-size: 4vw; 
        margin-top: -1vw; 
    }
}

@media (min-width: 857px) and (max-width: 1075px) {
    .bannerHome-text {
        top: 9rem; 
        left: 4rem; 
        font-size: 5vw; 
    }

    h2 {
        font-size: 6vw; 
        margin-top: 0;    
    }

    .slogan {
        font-size: 3vw; 
        margin-top: -1vw; 
    }
}
