/* Ajustes para la tarjeta del libro en el modal */
.tarjetaDeLibroMar {
    width: 100%; /* Se ajusta al tamaño del modal */
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin-top: 5%;
}

.imagenTarjetaLibroMar {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1rem;
    border: solid 1px;
    border-radius: 25px;
    border-color: #cca1f7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cuerpoDetalleTarjetaLibroMar {
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    overflow-y: auto;
}

.cuerpoDetalleTarjetaLibroMar p {
    color: black;
}

.detalleLibroTituloMar {
    font-size: 1.25rem;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    text-align: left;
    margin: 10px 0;
    color: black;
}

.detalleLibroDescripcionMar {
    flex: 1;
    margin: 10px 0;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.detalleLibroAutorMar {
    flex: 1;
    margin: 10px 0;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.contenedorBotonesMar {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.iconosContenedorMar {
    top: 0.625rem;
    right: 0.625rem;
    display: flex;
    gap: 0.625rem;
}

.shareIconMar,
.favoritoIconoMar {
    background-color: rgb(33, 37, 41);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transition: background-color 0.3s;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.3125rem;
}

.shareIconMar:hover,
.favoritoIconoMar:hover {
    color: #a75df2;
}


.comment-card {
    width: 100%; 
    height: auto;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445);
    display: flex;
    flex-direction: column; 
    overflow: hidden;
}

.comment-container {
    width: 100%;
    margin-top: 20px;
    font-family: "IBM Plex Mono", monospace;
}

.comment-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.comment-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-container textarea {
    flex: 1;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    resize: none;
    font-family: "IBM Plex Mono", monospace;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.comment-container button {
    cursor: pointer;
    background-color: #a75df2;
    color: #fff;
    border-radius: 35px;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    border: 0.25rem solid #7029ab;
    width: 5vw;
    height: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.comment-text {
    width: 100%;
    background-color: #cca1f7;
    color: #fff;
    font-family: "IBM Plex Mono", monospace;
    border-radius: 8px;
    padding: 8px 12px;
    overflow-y: auto;
}

.modal-content{
    left:10rem
}

.comment-text span {
    max-width: 70%;
}


@media (max-width: 768px) {
    .tarjetaDeLibroMar {
        width: 100%; 
        height: auto;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445);
        overflow: hidden;
    }

    .imagenTarjetaLibroMar {
        width: 100%; 
        border-radius: 15px 15px 0 0;
    }

    .cuerpoDetalleTarjetaLibroMar {
        width: 100%; 
        padding: 10px;
        overflow-y: auto;
    }

    .detalleLibroTituloMar {
        font-size: 1rem;
    }

    .detalleLibroDescripcionMar {
        margin: 10px 0;
    }
    .modal-content{
        left: -.05rem;
    }
}


.modal {
    position: fixed !important;  
    z-index: 1050 !important;  
}


.modal-content {
    border-radius: 15px; 
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}


.modal-body {
    display: flex;
    flex-direction: column;
    height: 100%; 
    max-height: 80vh; 
    overflow-y: auto; 
}


.comment-card {
    width: 100%; 
    margin: 0; 
    border-radius: 10px; 
    box-shadow: none; 
}

.comment-container {
    width: 100%; 
}


.modal-backdrop-blur {
    backdrop-filter: blur(10px); 
}

.modal-header {
    font-family: 'Special Elite', cursive;
}

.commento-root .commento-textarea-container {
    width: 100%;
}
