/* src/styles/BookCard.css */
.book-card {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.icons-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.icon-book {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.favorite-icon:hover {
    color: #e74c3c;
}

.info-icon:hover {
    color: #3498db;
}

.book-title {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}