.edit-form-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  max-width: 1000px;
  border: 1px solid #cca1f7; 
  margin: auto;
  background-color: #f0f0f0; 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445); 
}

.profile-pic-section {
  flex: 1;
  text-align: center; 
}

.profile-pic-box {
  width: 300px;
  height: 300px;
  border: 2px solid #cca1f7; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden; /* Evita que el contenido sobresalga */
}

.profile-edit-section {
  flex: 2;
}

.dit-form-group {
  margin-bottom: 20px;
}

.dit-form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #555; 
  font-family: "IBM Plex Mono", monospace; 
}

.dit-form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cca1f7; 
  border-radius: 6px;
  background-color: #fff; 
  color: #333;
  font-family: "IBM Plex Mono", monospace;
}

.edit-save-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #a75df2; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.edit-save-button:hover {
  background-color: #8c3bc4; 
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-cancel-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #cca1f7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-cancel-button:hover {
  background-color: #851be9; 
}

.nombre-editar-perfil {
  margin-top: 18vh;
  font-size: 2rem;
  font-weight: bold;
  color: #7029ab; 
  text-align: center;
}


@media (max-width: 768px) {
  .edit-form-container {
    flex-direction: column; 
    padding: 20px;
    gap: 20px;
    max-width: 90%;
  }

  .profile-pic-box {
    width: 200px; 
    height: 200px;
  }

  .edit-save-button, .edit-cancel-button {
    width: 100%; 
    font-size: 14px; 
  }

  .nombre-editar-perfil {
    margin-top: 10vh;
    font-size: 1.5rem; 
  }
}

@media (max-width: 1024px) {
  .edit-form-container {
    max-width: 100%; 
    padding: 30px;
    gap: 30px;
  }

  .profile-pic-box {
    width: 250px;
    height: 250px;
  }

  .edit-save-button, .edit-cancel-button {
    width: 50%; 
  }

  .nombre-editar-perfil {
    font-size: 1.75rem; 
  }
}


.avatar-selection {
  display: flex; /* Utiliza flexbox para una distribución en fila */
  justify-content: center; /* Centra los avatares horizontalmente */
  margin-top: 10px; /* Espacio entre el título y los avatares */
}

.avatar-option {
  margin: 10px; /* Espacio entre cada avatar */
  cursor: pointer; /* Cambia el cursor al pasar sobre el avatar */
}

.avatar-image {
  width: 80px; /* Ancho de las imágenes */
  height: 80px; /* Altura de las imágenes */
  border-radius: 50%; /* Hace que las imágenes sean circulares */
  border: 2px solid transparent; /* Borde por defecto, transparente */
  transition: border-color 0.3s; /* Animación suave para el borde */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.avatar-image.selected {
  border-color: #28a745; /* Color de borde cuando está seleccionado */
}

.titulito-avataress {
  display: block; /* Hace que el título se comporte como un bloque */
  text-align: center; /* Centra el texto del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.selected-avatar {
  width: 220px; /* Ajusta el tamaño del avatar seleccionado */
  height: 200px; /* Mantén el aspecto cuadrado */
  border-radius: 50%; /* Mantiene el avatar como círculo */
}
