.star-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .star-icon {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0 2px;
  }
  
  .star-icon.filled {
    color: #f0c419;
  }
  
  .rating-text {
    font-size: 17px;
    color: #fff;
    text-align: center;
    margin-left: 10px;
  }
