.vista-favoritos {
    margin-left: 18%; 
    padding: 7rem 2rem; 
    transition: margin-left 0.3s ease;
}

  
.favoritos-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
  }
  
  .sin-favoritos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;       /* Ajusta el tamaño de la fuente según lo necesites */
    color: #8e3bc4;          /* Mantén el color que tienes definido */
  }
  
  
  
.favoritos-titulo {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Special Elite', cursive;
    font-size: 3rem;
    color: #7029ab;
}



.favorito-card {
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.favorito-card:hover {
    transform: scale(1.05);
}

.favorito-image {
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 11, 12, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.favorito-card:hover .overlay {
    opacity: 1;
}

.favorito-title {
    color: rgb(0, 0, 0);
    padding: 5px;
    font-family: 'Special Elite', cursive;
    font-size: 1rem;
    text-align: center;
}


.favorito-buttons {
    display: flex;
    gap: 20px;
}




.favorite-active {
    color: #d14fff;
}



.derecha {
    padding: 0;
    margin: 0;
    width: 2rem;
    border-radius: 50%;
}

.derecha:hover {
    background-color: white;
}


@media (max-width: 1024px) {
    .vista-favoritos {
        margin-left: 20%; 
    }
}


@media (max-width: 768px) {
    .vista-favoritos {
        margin-left: 15vw; 
        padding: 6rem 1rem; 
    }
}


@media (max-width: 480px) {
    .vista-favoritos {
        margin-left: 12vw; 
        padding: 5rem 1rem; 
    }
}

.icons-container {
    position: absolute;
    top: 0.5rem; /* Posiciona los iconos en la parte superior */
    right: 0.5rem; /* Alinea los iconos hacia la derecha */
    display: flex;
    gap: 0.5rem; /* Añade un espacio entre los iconos */
}

.trash-iicon,
.info-iicon {
    background-color: white; /* Fondo redondo blanco fijo */
    border: none;
    cursor: pointer;
    color: #8c3bc4; /* Icono en color morado */
    font-size: 1rem; /* Tamaño del icono reducido */
    width: 1.6rem; /* Tamaño más pequeño para el círculo */
    height: 1.6rem; /* Tamaño más pequeño para el círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Mantiene el fondo redondo */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color y el fondo */
    padding: 0; /* Eliminar cualquier espacio interno extra */
}

.trash-iicon:hover,
.info-iicon:hover {
    background-color: #e0c6f5; /* Fondo morado claro al pasar el ratón */
    color: #000000; /* Icono negro al pasar el ratón */
}
