.footer-colapsado {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}
.question-icon {
    cursor: pointer;
    color: #fff;
    background-color: #222;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.question-icon:hover {
    background-color: #555;
}
.footer-container {
    position: fixed;
    bottom: 0;
    right: 0; /* Alinea el contenedor del footer a la izquierda */
    width: 0; /* Inicialmente colapsado */
    background-color: #F00D0D; /* Color de fondo del footer */
    z-index: 99; /* Debajo del icono */
    transition: width 0.5s ease; /* Transición para efecto de despliegue */
    overflow: hidden; /* Oculta el contenido sobrante */
}
.footer-container.visible {
    width: 85%; /* Se expande hacia la izquierda */
}