.footer {
  background-color: #222;
  color: #fff;
  padding: 10px 40px 0 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.section {
  text-align: left;
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Estilo para cada red social con su color específico */
.twitter-icon {
  background-color: #1DA1F2; /* Azul de Twitter */
  color: white; /* Pájaro blanco */
  border-radius: 5px;
}
.instagram-icon {
  background: linear-gradient(45deg, #F09433, #E6683C, #DC2743, #CC2366, #BC1888);
  color: white;
  border-radius: 5px;
}
.facebook-icon {
  background-color: #1877F2; /* Azul de Facebook */
  color: white; /* Letra F blanca */
  border-radius: 5px;
}
.tiktok-icon {
  background-color: #000000; /* Fondo negro */
  color: #69C9D0; /* Color de TikTok */
  border-radius: 5px;
}
.telegram-icon {
  background-color: #0088CC; /* Azul de Telegram */
  color: white; /* Avión blanco */
  border-radius: 5px;
}
.whatsapp-icon {
  background-color: #25D366; /* Verde de WhatsApp */
  color: white; /* Logo blanco */
  border-radius: 5px;
}
.youtube-icon {
  background-color: #FF0000; /* Rojo de YouTube */
  color: white; /* Triángulo blanco */
  border-radius: 5px;
}
.stars {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.star {
  font-size: 25px;
  color: #F0C419;
}
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating-text {
  text-align: center;
  margin-top: 0;
}
.rating-text p {
  margin: 0;
  font-weight: bold;
}
.bottom-section h4 {
  margin-bottom: 10px;
}
.bottom-section ul {
  list-style-type: none;
  padding: 0;
}
.bottom-section li {
  margin-bottom: 5px;
}
.social-icons {
  display: flex; /* Asegura que los íconos se dispongan en fila */
  flex-direction: row; /* Disposición en fila (horizontal) */
  justify-content: center; /* Centra los íconos */
  align-items: center; /* Centra verticalmente los íconos */
  gap: 10px; /* Espacio entre los íconos */
  margin-bottom: 20px; /* Espacio inferior para separación */
}
/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }
  .section {
    text-align: center;
  }
  .social-icons {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}

.quitar-espacios-footer p {
  margin: 0; /* Elimina los márgenes entre los párrafos */
  padding: 0; /* Opcional: Elimina cualquier padding si es necesario */
  color: white;
}