.footer-colapsado {
    position: fixed;
    bottom: 1px;
    left: 50%;
    z-index: 10000;
}
.question-icon {
    cursor: pointer;
    color: #fff;
    background-color: #222;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.question-icon:hover {
    background-color: #555;
}

.footer-container {
    position: fixed;
    bottom: 0;
    right: -44%;  /* Centra el contenedor horizontalmente */
    transform: translateX(-50%); /* Alinea el contenedor al centro */
    height: 0; /* Inicialmente colapsado */
    background-color: #000000; /* Color de fondo del footer */
    z-index: 9999; /* Debajo del icono */
    transition: height 0.5s ease; /* Transición para efecto de despliegue */
    overflow: hidden; /* Oculta el contenido sobrante */
    width: 86%;
}

.footer-container.visible {
    height: 16%; /* Se expande hacia arriba */
    bottom: 0; /* Mantiene el contenedor en la parte inferior */
}

.icon-white {
    color: white; /* Establece el color blanco */
}

.icon-moradito {
    color: #a75df2;
}

.toggle-icon{
    background: white;
    border-radius: 50%;
    padding: 3px;
    color: black;
}