.footer-colapsado {
    position: fixed;
    bottom: 1vh; 
    left: 50%;
    z-index: 10000;
    transform: translateX(-50%); 
}

.footer-container {
    position: fixed;
    bottom: 0;
    right: 0; 
    transform: translateY(100%); 
    z-index: 9999; 
    transition: transform 0.5s ease; 
    overflow: hidden; 
    width: 100%;
    max-width: 100vw; 
    margin-bottom: 1vh; 
    display: flex; 
    flex-direction: column; 
}

.footer-container.visible {
    transform: translateY(0); 
    background-color: rgba(245, 245, 245, 0.541);
    padding: 1vh; 
    right: 0; 
}

.icon-white {
    color: white;
}

.icon-moradito {
    color: #a75df2;
}

.toggle-icon {
    background: white;
    border-radius: 50%;
    color: black;
    margin-bottom: 2vh; 
    position: fixed; 
    bottom: 1vh;
    left: 50%; 
    transform: translateX(-50%); 
}

/* Pantallas pequeñas */
@media (max-width: 540px) {
    .footer-container {
        width: 100%; 
        max-width: 100%; 
    }

    .footer-container.visible {
        padding: 1vh; 
    }
}

/* Pantallas medianas */
@media (min-width: 481px) and (max-width: 748px) {
    .footer-container {
        width: 100%; 
    }

    .footer-container.visible {
        padding: 1vh; /* Proporcional */
    }
}

/* Pantallas grandes */
@media (min-width: 749px) {
    .footer-container {
        width: calc(100% - 50px);
    }

    .footer-container.visible {
        padding: 1vh; 
    }
}

@media (min-width: 820px) {
    .footer-container {
        width: calc(100% - 300px); 
    }

    .footer-container.visible {
        padding: 1vh; 
    }
}

@media (min-width: 1024px) {
    .footer-container {
        width: calc(100% - 300px); 
    }

    .footer-container.visible {
        padding: 1vh; 
    }
}
