body {
    background-color: #ebe8e849;
    z-index: 0;
}

.banner-containerHooBoo {
    position: relative;
    width: 100%;
    height: 30vh; 
    overflow: hidden;
}

.banner-containerHooBoo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0)); 
    z-index: 1;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 244, 244, 0.486); 
    z-index: 2;
}

.banner-image-HooBoo {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.bannerHooboo-text {
    position: absolute;
    top: 50%;
    right: 5%; 
    transform: translate(0, -50%); 
    text-align: right; 
    z-index: 3; 
    font-family: 'Special Elite', cursive;
    white-space: nowrap;
}

.textHooBOObanner {
    font-size: 7vw;
    font-family: 'Special Elite', cursive;
    color:  #a75df2 !important; 
  
}

.sloganTextHooboo {
    font-size: 3vw;
    margin-top: -4vw; 
    color: #a75df2 !important; 
   
}

.content-section {
    background-color: white; 
    padding: 20px; 
    margin-top: -30px; 
    z-index: 0; 
    position: relative; 
}

body {
    margin: 0; 
}

/* Ajustes para tabletas */
@media (max-width: 768px) {
    .bannerHooboo-text {
        top: 50%;
        right: 5%;
        transform: translate(0, -50%);
        font-size: 4rem;
        text-align: right;
    }
    
    .textHooBOObanner {
        font-size: 7vw;
    }
    
    .sloganTextHooboo {
        font-size: 4vw;
        margin-top: 1vw;
    }
}

/* Ajustes para teléfonos móviles */
@media (max-width: 480px) {
    .bannerHooboo-text {
        top: 50%;
        right: 5%;
        transform: translate(0, -50%);
        font-size: 3rem;
        text-align: right;
    }
    
    .textHooBOObanner {
        font-size: 8vw;
    }
    
    .sloganTextHooboo {
        font-size: 5vw;
        margin-top: 2vw;
    }
}