.login-form-container {
    background-color: #f0f0f0; 
    border-radius: 20px; 
    padding: 20px;
    width: 320px;
    margin: 50px auto;
    color: #333; 
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445); 
    border: 1px solid #cca1f7; 
}

.megaipertitulito {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25rem; 
    font-family: 'Special Elite', cursive; 
    color: #7029ab; 
    font-weight: bold;
}

.login-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    font-family: "IBM Plex Mono", monospace; 
}

.login-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #cca1f7; 
    background-color: #fff; 
    color: #333; 
    font-family: "IBM Plex Mono", monospace;
}

.login-form-input::placeholder {
    color: #aaa;
}

.login-form-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #a75df2; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.login-form-button:hover {
    background-color: #8c3bc4; 
}

.login-volver-button {
    width: 100%;
    padding: 12px;
    background-color: #cca1f7;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.login-volver-button:hover {
    background-color: #851be9; /* Rojo más oscuro al hacer hover */
}

.login-signup-redirect p {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.login-signup-redirect .login-cancel-button {
    width: 100%;
    padding: 12px;
    background-color: #a75df2; /* Morado claro */
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.login-signup-redirect .login-cancel-button:hover {
    background-color: #8c3bc4; /* Morado más oscuro al hacer hover */
}

.login-forgot-password {
    margin-top: 12px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.login-forgot-password a {
    color: #a75df2; /* Morado para los enlaces */
    text-decoration: none;
}

.login-forgot-password a:hover {
    text-decoration: underline;
    color: #8c3bc4; /* Morado más oscuro al hover */
}

.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: #fffafa; */
    background-color: #ebe8e80c;
}

@media (max-width: 600px) {
    .login-form-container {
        width: 90%;
    }
}
