.login-form-container {
    background-color: #1A1A1A;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
    margin: 50px auto;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.megaipertitulito {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.login-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.login-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.login-form-input::placeholder {
    color: #aaa;
}

.login-form-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-button:hover {
    background-color: #45a049;
}

.login-volver-button {
    width: 100%;
    padding: 12px;
    background-color: red; /* Color rojo para el botón "Volver" */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Margen superior para separación */
}

.login-volver-button:hover {
    background-color: darkred; /* Cambio de color al pasar el mouse */
}

.login-signup-redirect p {
    text-align: center;
    margin-top: 10px;
}

.login-signup-redirect .login-cancel-button {
    width: 100%;
    padding: 12px;
    background-color: #5A5A5A;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-signup-redirect .login-cancel-button:hover {
    background-color: #484848;
}

.login-forgot-password {
    margin-top: 12px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.login-forgot-password a {
    color: #4CAF50;
    text-decoration: none;
}

.login-forgot-password a:hover {
    text-decoration: underline;
}

/* Centrado vertical */
.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Fondo blanco */
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
    .login-form-container {
        width: 90%;
    }
}