.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: "IBM Plex Mono", monospace;
    margin-top: 100px;
    position: fixed;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 10vw;
    font-size: 20%;
    font-weight: bold;
    text-decoration: none;
    color: #4c347e;
    transition: color 0.3s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.btn-login,
.btn-signup,
.btn-explorar {
    background-color: #a75df2;
    color: #fff;
    border-radius: 35px;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1vw;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
    border: 0.25rem solid #7029ab;
    width: 9vw;
    height: 7vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-logo{

        display: block;
        background-color: #ffffff; /* Fondo blanco */
        border-radius: 50%; /* Hace que el fondo sea un círculo */
        padding: 10px; /* Espacio interno entre el logo y el borde circular */
        width: 15vh;
        height: auto;
        margin: 0 auto; /* Centra el logo dentro del sidebar */
        border: 5px solid #7029ab; /* Borde sólido de color púrpura */
        margin: 1vh;
    }
    

.logo-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    cursor: pointer;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {

    .btn-login,
    .btn-signup,
    .btn-explorar,
    .btn-logo {
        width: 20vw;
        height: 6vh;
        font-size: 0.9rem;
        border: 0.2rem solid #7029ab;
    }
}

@media (max-width: 480px) {

    .btn-login,
    .btn-signup,
    .btn-explorar,
    .btn-logo {
        width: 40vw;
        height: 8vh;
        font-size: 0.8rem;
        border: 0.15rem solid #7029ab;
        margin-right: 0.5vw;
    }
}

.btn-login:hover,
.btn-signup:hover,
.btn-explorar:hover
 {
    background-color: #7029ab;
    transform: scale(1.05);
    color: #fff;
    border: 4px solid #a75df2;
}


.btn-logo:hover {
    transform: scale(1.05);
    transition: 0.2s;
    color: #fff;
}

.btn-login:focus,
.btn-signup:focus,
.btn-explorar:focus,
.btn-logo:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(167, 93, 242, 0.5);
}