.body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerHome {
    position: relative;
    width: 100%;
}

.navbar-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: end; 
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.navbar-links {
    display: flex; 
    align-items: center; 
}


.dropdown-toggle {
    display: none;
}

.nav-link {
    margin-right: 10vw;
    font-size: 20%;
    font-weight: bold;
    text-decoration: none;
    color: #4c347e;
    transition: color 0.3s ease;
}

.btn-login,
.btn-signup,
.btn-explorar {
    background-color: whitesmoke;
    border: 2px solid #a75df2; 
    color: black;
    border-radius: 35px;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1rem;
    margin-right: 1vw;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 6vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.btn-logo {
    display: block;
    background-color: #ffffff; 
    border-radius: 50%; 
    padding: 10px; 
    width: 9vw;
    height: auto;
    margin: auto;
    border: 2px solid #a75df2; 
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.logo-img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    cursor: pointer;
    display: block;
    object-fit: cover;
}

 
.dropdown-menu {
    display: none; 
    flex-direction: row-reverse; 
    align-items: flex-start; 
    position: absolute; 
    background: #9b9a9a80; 
    box-shadow: 0 4px 10px rgba(92, 91, 91, 0.466); 
    width: 100%; 
    z-index: 999; 
    padding: 10px 0; 
    top: 100%;
    left: 0;
}


@media (max-width: 768px) {
    .navbar-container {
        flex-direction: row; 
        align-items: center; 
    }

    .navbar-links {
        display: none; 
    }

    .dropdown-toggle {
        display: block; 
        background: none;
        border: none;
        font-size: 2rem; 
        color: #4c347e; 
        cursor: pointer;
        margin-left: -5px; 
    }
    .dropdown-toggle {
        margin-top: 5vh;
    }
}

    .dropdown-menu.show {
        display: flex; 
    .btn-logo {
        display: block;
        background-color: #ffffff; 
        border-radius: 50%; 
        padding: 10px; 
        width: 15vw;
        height: auto;
        margin: auto;
        border: 2px solid #a75df2; 
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-top: 5vh;
    }
    
    .logo-img {
        width: 100%;
        height: 100%;
        border-radius: 50%; 
        cursor: pointer;
        display: block;
        object-fit: cover;
    }
}


.btn-login:hover,
.btn-signup:hover,
.btn-explorar:hover {
    background-color: #a75df2;
    transform: scale(1.05);
    color: #fff;
    border: 2px solid #7029ab;
}

.btn-logo:hover {
    transform: scale(1.05);
    transition: 0.2s;
    color: #fff;
}

.btn-login:focus,
.btn-signup:focus,
.btn-explorar:focus,
.btn-logo:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(167, 93, 242, 0.5);
}