.navbar-activo {
    background-color: #000;
    color: #fff;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    top: 0;
    min-width: 15rem;
    transform: translateX(0);
    transition: width 0.3s ease, transform 0.3s ease;
    align-items: center;
    z-index: 1000;
    font-family: "IBM Plex Mono", monospace;
}

.navbar-activo.active {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .navbar-activo {
        width: 15vw;
        min-width: 4rem;
        transform: translateX(-100%);
    }
}

.logo-activo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

/* Estilo del logo en el sidebar */
.logo-img-explorar {
    display: block;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    width: 20vh;
    height: auto;
    margin: 4vh auto; 
    border: 5px solid #7029ab;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.4rem 1.5rem; 
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
    background: black;
    border: 0;
}

.menu-item:hover {
    box-shadow: 0 0 0.625rem #7029ab;
    color: #a75df2;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-menu {
    position: absolute;
    background-color: #aca8a8;
    padding: 2vw; 
    border-radius: 2vw;
    top: 3%;
    left: 0;
    z-index: 1000;
    margin-top: 5vh; 
    color: black
}

.profile-menu p {
    margin: 0;
}

.profile-picture {
    width: 6rem; /* Aumenta el tamaño del avatar */
    height: 6rem; /* Asegúrate de que el ancho y alto sean iguales */
    border-radius: 50%; /* Mantiene la imagen redonda */
    margin-bottom: 0.5rem;
    border: 1px solid #853ebe;
    object-fit: cover; /* Asegura que la imagen no se deforme */
    object-position: center; /* Centra la imagen en el contenedor */
}

@media (max-width: 768px) {
    .profile-picture {
        width: 5rem; /* Ajusta el tamaño para pantallas más pequeñas */
        height: 5rem;
    }
}

@media (max-width: 480px) {
    .profile-picture {
        width: 4rem; /* Ajusta el tamaño para pantallas aún más pequeñas */
        height: 4rem;
    }
}


.edit-profile-btn {
    background-color: #1f1e1e;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    box-shadow: 0 0 0.625rem #7029ab;
    margin-top: 1rem;
}

.edit-profile-btn:hover {
    color: white;
    box-shadow: 0 0 0.625rem #7029ab;
}

/* Estilo del botón de cerrar sesión */
.logout-btn {
    background-color: #a75df2;
    color: #fff;
    border: none;
    padding: 0.6rem 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.logout-btn:hover {
    background-color: #7029ab;
    color: #fff;
}


.logout-btn .logout-text {
    display: inline;
}

.logout-btn .logout-icon {
    display: inline;
}

@media (max-width: 768px) {
    .logout-btn {
        padding: 0.5rem;
        width: auto; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .logout-btn .logout-text {
        display: none; 
    }
}

.menu-item.favoritos {
    position: relative;
}


.favorite-count {
    top: 0;
    right: 0; 
    position: absolute;
    background-color: #7029ab;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    color: #7029ab; 
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        left:1.25rem
    }

    .menu-item {
        justify-content: center;
        padding: 0.5rem;
        font-size: 0.875rem;
        text-align: center;
    }
    .menu{
        margin-left: -1.5rem;

     }

    .menu-item span {
        display: none;
    }

    .profile-menu {
        padding: 5vw;
    }

    .profile-picture {
        width: 3rem;
        height: 3rem;
    }

    .favorite-count {
        right: 0.5rem; 
    }

    .logo-img-explorar {
        max-width: 70%; 
        max-height: 100px; 
        margin-top: 8vh; 
    }
}

@media (max-width: 480px) {
    .navbar-activo {
        width: 20vw; 
        min-width: 3rem; 
        transform: translateX(-100%); 
    }

    .menu-item {
        font-size: 0.75rem; 
        padding: 0.3rem;
    }

    

    .profile-picture {
        width: 2.5rem;
        height: 2.5rem;
    }


    .edit-profile-btn,
    .logout-btn {
        font-size: 1rem; 
        margin-top: 5rem;

    }

    .logo-img-explorar {
        max-width: 60%;
        max-height: 80px; 
        margin-top: 5rem;
        margin-left: 2rem;
    }
}


