/* Estilos de una tarjeta individual */

.onebook {
  width: 100%;
  max-width: 200px; /* Ajustamos el tamaño máximo de la tarjeta */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bc82eb; /* Color de fondo */
  text-align: center;
}

.botonesinfoyfav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
