.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Esto crea una cuadrícula flexible */
  gap: 20px; /* Espacio entre los libros */
  padding: 20px;
}

.onebook {
  max-width: 200px;
  margin: 0 auto; /* Centra las tarjetas */
  text-align: center;
}
