.bodyHome {
    z-index: 0;
    overflow-x: hidden;
}

.principal-container {
    text-align: center;
}

.header-text {
    margin: 5vw 0;
}

.titulo_principalproyecto {
    font-size: 2vw;
    margin: 13vw 0 0 0;
    font-family: 'Special Elite', cursive;
}



.image-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    position: relative;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    gap: 2vh; 
    z-index: 1; 
}

.image-grid img {
    width: 100%; /* Cambiar a 100% para que las imágenes ocupen todo el espacio disponible */
    height: 100%; /* Mantener la proporción de la imagen */
    max-height: 45vh; /* Limitar la altura máxima */
    object-fit: cover; 
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445);
    border: 2px solid #a75df267;
    position: relative;
    animation: slideIn 0.20s forwards;
}

/* Efecto de cascada para pantallas normales y grandes */
.image-grid img:nth-child(7n+1) {
    transform: translateY(-10vw);
}

.image-grid img:nth-child(7n+2) {
    transform: translateY(-5vw);
}

.image-grid img:nth-child(7n+3) {
    transform: translateY(-1vw);
}

.image-grid img:nth-child(7n+4) {
    transform: translateY(3vw);
}

.image-grid img:nth-child(7n+5) {
    transform: translateY(-1vw);
}

.image-grid img:nth-child(7n+6) {
    transform: translateY(-5vw);
}

.image-grid img:nth-child(7n+7) {
    transform: translateY(-10vw);
}

.image-grid img:hover {
    transform: scale(1.1);
}

.book-image {
    width: 100%; 
    height: 100%; /* Mantener la proporción de la imagen */
    max-height: 45vh; /* Limitar la altura máxima */
    object-fit: cover; 
    border-radius: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445);
    border: 2px solid #a75df267;
}

.book-image:hover {
    transform: scale(1.1);
}

.genre-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1vw;
}

.indicator {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    background-color: #bc82eb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0.5vw;  
}

.indicator.active {
    background-color: #bc82eb;
    border: 3px solid #8a48b7;
}

.indicator:hover {
    background-color: #8a48b7;
    border: 3px solid #bc82eb;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main-content {
    margin: -10vw 2vw 20vh 2vw;
    text-align: center;
}

/* Pantallas pequeñas (sm) */
@media (max-width: 576px) {
    .titulo_principalproyecto {
        font-size: 6vw;
        margin-top: 1vw;
    }

    .image-grid {
        grid-template-columns: 1fr; 
        margin-top: 7vw;
    }

    .image-grid img {
        width: 100%; /* Cambiar a 100% para que las imágenes ocupen todo el espacio disponible */
        height: 100%; /* Mantener la proporción de la imagen */
        max-height: 45vh; /* Limitar la altura máxima */
        object-fit: cover; 
    
    }

    img.book-image {
        margin-bottom: 2vh;
    }

    .image-grid img:nth-child(1n+1) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+2) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+3) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+4) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+5) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+6) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(1n+7) {
        transform: translateY(1vw);
    }

    .main-content {
        margin-top: 1vw;
        margin-bottom: 5vh;
    }
}

/* Pantallas medianas (md) */
@media (min-width: 300px) and (max-width: 768px) {
    .titulo_principalproyecto {
        font-size: 5vw;
        margin-top: 1vw;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6vw;
    }

    .image-grid img {
        width: 90%; /* Cambiar a 100% para que las imágenes ocupen todo el espacio disponible */
        height: 100%; /* Mantener la proporción de la imagen */
        max-height: 70vh; /* Limitar la altura máxima */
        object-fit: cover; 
    
    }

    img.book-image {
        margin-bottom: 2vh;
    }

    .image-grid img:nth-child(2n+1) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+2) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+3) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+4) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+5) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+6) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(2n+7) {
        transform: translateY(1vw);
    }

    .main-content {
        margin-top: 1vw;
        margin-bottom: 5vh;
    }
}

/* Pantallas grandes (lg) */
@media (min-width: 769px) and (max-width: 1024px) {
    .titulo_principalproyecto {
        font-size: 5vw;
        margin-top: 1vw;
    }

    .image-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: -2vw;
    }

    .image-grid img {
        width: 100%; /* Cambiar a 100% para que las imágenes ocupen todo el espacio disponible */
        height: 100%; /* Mantener la proporción de la imagen */
        max-height: 60vh; /* Limitar la altura máxima */
        object-fit: cover; 
    
    }

    img.book-image {
        margin-bottom: 2vh;
    }

    .image-grid img:nth-child(3n+1) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(3n+2) {
        transform: translateY(10vw);
    }

    .image-grid img:nth-child(3n+3) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(3n+4) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(3n+5) {
        transform: translateY(10vw);
    }

    .image-grid img:nth-child(3n+6) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(3n+7) {
        transform: translateY(1vw);
    }

    .main-content {
        margin-top: 1vw;
        margin-bottom: 5vh;
    }
}

/* Pantallas extra grandes (xl) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .titulo_principalproyecto {
        font-size: 5vw;
        margin-top: 1vw;
    }

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        margin-top: -6vw;
    }

    .image-grid img {
        width: 100%; /* Cambiar a 100% para que las imágenes ocupen todo el espacio disponible */
        height: 100%; /* Mantener la proporción de la imagen */
        max-height: 80vh; /* Limitar la altura máxima */
        object-fit: cover; 
        }

    .image-grid img:nth-child(4n+1) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(4n+2) {
        transform: translateY(10vw);
    }

    .image-grid img:nth-child(4n+3) {
        transform: translateY(10vw);
    }

    .image-grid img:nth-child(4n+4) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(4n+5) {
        transform: translateY(1vw);
    }

    .image-grid img:nth-child(4n+6) {
        transform: translateY(10vw);
    }

    .image-grid img:nth-child(4n+7) {
        transform: translateY(10vw);
    }

    .main-content {
        margin-top: 1vw;
        margin-bottom: 20vh;
    }
}

/* para un mejor control de los tamaños */
*, *::before, *::after {
    box-sizing: border-box;
}
