.registro-form-container {
    background-color: #1A1A1A;
    border-radius: 12px;
    padding: 20px;
    width: 320px;
    margin: 50px auto;
    color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.registro-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffafa;
}

.supertituloxm {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.registro-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.registro-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.registro-form-input::placeholder {
    color: #aaa;
}

.registro-form-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-form-button:hover {
    background-color: #45a049;
}

.registro-volver-button {
    width: 100%;
    padding: 12px;
    background-color: red; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.registro-volver-button:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .registro-form-container {
        width: 90%; 
    }
}