.registro-form-container {
    background-color: #f0f0f0; 
    border-radius: 20px; 
    padding: 20px;
    width: 320px;
    margin: 50px auto;
    color: #333;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445); 
    border: 1px solid #cca1f7; 
}

.registro-page-container {
    display: flex;
    justify-content: center;
}

.supertituloxm {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25rem; 
    font-family: 'Special Elite', cursive; 
    color: #7029ab; 
    font-weight: bold;
}

.registro-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    font-family: "IBM Plex Mono", monospace; 
}

.registro-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #cca1f7; 
    background-color: #fff; 
    color: #333; 
    font-family: "IBM Plex Mono", monospace;
}

.registro-form-input::placeholder {
    color: #aaa;
}

.registro-form-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #a75df2; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.registro-form-button:hover {
    background-color: #8c3bc4; 
}

.registro-volver-button {
    width: 100%;
    padding: 12px;
    background-color: #cca1f7;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.registro-volver-button:hover {
    background-color: #851be9; 
}

@media (max-width: 600px) {
    .registro-form-container {
        width: 90%;
    }
}

.error-messageee{
    color: #a75df2;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.success-messageee{
    color: #a75df2;
    text-align: center;
    font-family: 'Special Elite', cursive;
}
