.registro-form-container {
    background-color: #f0f0f0; /* Fondo gris claro que mantiene armonía */
    border-radius: 20px; /* Mismo redondeo de bordes que en otros componentes */
    padding: 20px;
    width: 320px;
    margin: 50px auto;
    color: #333;
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445); /* Sombra similar a tu tarjeta de libro */
    border: 1px solid #cca1f7; /* Añadir un borde morado suave como en tus tarjetas */
}

.registro-page-container {
    display: flex;
    justify-content: center;
}

.supertituloxm {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25rem; /* Ajuste para mantener proporción */
    font-family: 'Special Elite', cursive; /* Tipografía similar a la de los títulos */
    color: #7029ab; /* Color morado oscuro */
    font-weight: bold;
}

.registro-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
    font-family: "IBM Plex Mono", monospace; /* Tipografía uniforme */
}

.registro-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #cca1f7; /* Borde morado suave */
    background-color: #fff; /* Fondo blanco para el campo */
    color: #333; /* Texto oscuro */
    font-family: "IBM Plex Mono", monospace;
}

.registro-form-input::placeholder {
    color: #aaa;
}

.registro-form-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    background-color: #a75df2; /* Color morado principal */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.registro-form-button:hover {
    background-color: #8c3bc4; /* Un morado más oscuro al hacer hover */
}

.registro-volver-button {
    width: 100%;
    padding: 12px;
    background-color: #cca1f7; /* Rojo similar al hover de tus íconos */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.registro-volver-button:hover {
    background-color: #851be9; /* Rojo más oscuro en hover */
}

@media (max-width: 600px) {
    .registro-form-container {
        width: 90%;
    }
}

.error-messageee{
    color: #a75df2;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.success-messageee{
    color: #a75df2;
    text-align: center;
    font-family: 'Special Elite', cursive;
}
