/* Reset Password CSS */

.reset-container {
    background-color: #f0f0f0; /* Fondo claro, similar al de recuperarcontraseña.css */
    border-radius: 20px; /* Radio de borde más grande */
    padding: 20px;
    width: 450px; /* Ancho similar */
    margin: 200px auto;
    color: #333; /* Color de texto oscuro */
    box-shadow: 0 4px 10px rgba(135, 15, 165, 0.445); /* Sombra similar */
    border: 1px solid #cca1f7; /* Borde claro */
}

.reset-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.25rem; /* Tamaño de fuente adaptado */
    font-family: 'Special Elite', cursive; /* Fuente específica */
    color: #7029ab; /* Color de texto morado */
}

.reset-message {
    color: #4CAF50; /* Color verde para mensajes */
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px; /* Tamaño de texto */
}

.reset-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555; /* Color de texto */
    font-family: "IBM Plex Mono", monospace; /* Fuente monoespaciada */
}

.reset-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #cca1f7; /* Borde claro */
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Texto oscuro */
    font-family: "IBM Plex Mono", monospace; /* Fuente monoespaciada */
}

.reset-form-input::placeholder {
    color: #aaa; /* Placeholder en gris claro */
}

.button-group {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
}

.reset-form-button {
    width: 48%; /* Botones más pequeños */
    padding: 12px;
    background-color: #a75df2; /* Color morado para botón */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-left: 25%;
}

.reset-form-button:hover {
    background-color: #8c3bc4; /* Morado más oscuro al hacer hover */
}

.reset-volver-button {
    width: 48%; /* Botón más pequeño */
    padding: 12px;
    background-color: #cca1f7; /* Color claro para cancelar */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.reset-volver-button:hover {
    background-color: #851be9; /* Color más oscuro en hover */
}

@media (max-width: 600px) {
    .reset-container {
        width: 90%; /* Ancho adaptado para pantallas pequeñas */
    }
}
